<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MachineParts.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MachineParts.Settings1>
            <setting name="DefaultConnection" serializeAs="String">
                <value>Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;
</value>
            </setting>
            <setting name="NumOfMills" serializeAs="String">
                <value>5</value>
            </setting>
        </MachineParts.Settings1>
    </userSettings>
</configuration>